<div data-role="header" data-tap-toggle="false" class="ui-bar-a">
    <div class="ui-grid-b">
        <div data-role="controlgroup" data-role="controlgroup" data-type="horizontal" class="ui-block-a ui-controlgroup ui-btn">
            <a href="#add_delete_models" data-role="button" data-icon="plus" data-iconshadow="false">
                <button class="btn link-dark uppercase">Add/Delete Models</button>
            </a>
        </div>
        <div class="ui-block-b">
            <h4>Application Title</h4>
        </div>
        <div class="ui-block-c"></div>
    </div>
</div>
<div data-role="content">
	<div class="grid top">
		<div class="body full">
            <h3>views/homeview</h3>
            <h1>BackboneJS Boilerplate</h1>
            <h2>RequireJS - NodeJS - Express - Mongo Database</h2>
			<div class="label">
                <a href="#mainView_Listener">
                    <button class="btn-active btn-fullwidth uppercase">Main View (touch to enter)</button>
                </a>
            </div>
		</div>
	</div>
</div>
